body {
  background-color:rgb(31, 30, 30);
  margin-top:100px;
  text-align: center;
  font-style:Arial,Roboto;
}

p {
   color:white;
   font-size:15px;
   margin-bottom:3px;
}

button {
   background-color:rgb(233, 117, 9);
   color:white;
   padding-top:20px;
   padding-bottom:10px;
   padding-left:50px;
   padding-right:50px;
   font-size:100px;
   border-radius:5px;
   border:none;
}
